body 
{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    background-color: cadetblue;
}
/* HEADER */
header img 
{
    float: right;
    border-radius: 50px;
    width: 200px;
}
header
{
    background-image: url("../images/Image2.png");
    width: 1300px;
    height: 200px;
}
header h2,h3 
{
    color: burlywood;
    padding: 20px;
}
section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;

}
section aside,article
{
    text-align: left;
    font-size: 20px;
}
footer
{
    background-image: url("../images/Image3.png");
    width: 1300px;
    height: 100px;
    color: blanchedalmond;
}
footer p
{
    font-size: 20px;
}