body {
    margin-left: auto;
    margin-right: auto;
    width: 1300px; /* largeur obligatoire pour être centré */
  }
/* HEADER */
nav img {
    float: right;
    border-radius: 50px;
    width: 200px;
}
header{
    background-image: url("../images/Image2.png");
    width: 1300px;
    height: 200px;
    position: fixed;
}

#contact {
    color: burlywood;
    padding: 50px;
    width: auto;
}
#filters {
    border: 1px solid black;
    width: 300px;
}